<div class="text-center">
  <br />
  <br />
  <div class="col-md-3 col-md-offset-3">
    <div class="input-group number-spinner">
      <span class="input-group-btn">
        <button class="btn btn-info" (click)="decrementa()">
          -
        </button>
      </span>
      <input [(ngModel)]="contador" (ngModelChange)="emiteEvento($event)" type="text" class="form-control text-center" value="1" min="-10" max="40">
      <span class="input-group-btn" (click)="incrementa()">
        <button class="btn  btn-info">
          +
        </button>
      </span>
    </div>
  </div>
</div>